.contacts-box__description{
    display: none;
    text-align: center;
    color: #323232;
    font-size: 25px;
    line-height: 1.8;
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .contacts-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 90vh;
        gap: 200px;
    }
    .contacts-box__description{
        display: block;
    }
}